@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
    overflow-y:scroll;
}
/********************* PLAATS *********************/ 
.container {
    padding: 8px 8px 5px;
    min-width: 320px;
    max-width: 450px;
}
.vlotRechts {
    float: right;
}
.vlotLinks {
    float: left;
}
.wrapper {
    position: relative;
}
/********************* OPMAAK *********************/ 
body {
    background-color: #FAFAFA;
}
.navbar {
    position: static;
    margin-bottom: 10px;
}
.container {
    background-color: white;
    box-shadow: 0 0 50px 0 #ddd;
}
.innercontainer {
    background-color: wheat;
    box-shadow: 0 0 50px 0 #ddd;
    border: thin black dotted;
    display: inline-block;
    margin: 20px;
}
.wrapper {
    border-top: thin solid #DDD;
    padding: 20px 0;
}
.active {
    text-shadow: 0 0 15px red;
    padding: 0 10px;
}
.logo {
    display: block;
}
.logo h1 {
    margin: 0;
    padding: 0 10px;
    font-size: 2.4em;
    font-weight: bold;
    color: red;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}
.img30vw {
    width: 150px;
    width: 30vw;
    max-width: 200px;
    min-width: 150px;
}
.img50vw {
    width: 150px;
    width: 50vw;
    max-width: 970px;
    min-width: 150px;
}
.roteerRechts {
    transform: rotate(5deg);
}
.roteerLinks {
    transform: rotate(-5deg);
}
.dikkeSchaduw {
    border: 4px;
    border-style: solid;
    border-color: #E9DCE9;
    box-shadow: 0.7em 0.7em 0.7em rgba(0,0,0, .5);
    -moz-box-shadow: 0.7em 0.7em 0.7em rgba(0,0,0, .5);
    -webkit-box-shadow: 0.7em 0.7em 0.7em rgba (0,0,0, .5);
}
.txtC {
    text-align: center
}
h1 {
    font-size: 1.5em;
}
.txtL {
    padding: 0px 10px;
}
.txtR {
    padding: 0px 10px;
    text-align: right;
}
.colomText {
    color: #777;
    text-shadow: 0 0 15px red;
    margin-right: 15px;
}
.colomText.vlotLinks {
    text-align: right;
}
.stretchText {
    font-size: 1.15em;
    padding: 0 10px;
    text-align: justify;
}
.footertext {
    bottom: 0;
    color: #aaa;
    font-size: 0.75em;
    padding-top: 5px;
    border-top: thin solid #DDD;
    text-align: center;
}
.ondertxt {
    vertical-align: -webkit-baseline-middle;
}
.nomob {
    display: none;
}
p small {
    font-size: 0.8em;
}
.button {
    width: 140px;
    position: relative;
    display: inline-block;
    border: 2px solid red;
    margin: 10px;
    padding: 15px 0px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: #ed1c24;
    border-color: #363636;
    color: white;
}
.button a {
    color: red;
}
dl {
    padding: 1em;
}
dt {
    margin: 0 2em;
    font-size: 1.1em;
}
dd {
    margin: 0 4em;
}
label {
    width: 10em;
    text-align: right;
    padding-right: 0.5em;
}
input {
    padding: 0 0.1em;
}
/********************* @MEDIA *********************/ 
@media (min-width: 475px) {
    .container {
        padding: 11px 11px 5px;
        max-width: 450px;
    }
    .txtC {
        padding: 20px 20px;
    }
    h1 {
        font-size: 2.4em;
    }
    .img50vw {
        width: 60vw;
        max-width: 540px;
    }
    .logo h1 {
        font-size: 3em;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 14px 14px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        max-width: 743px;
    }
    .img50vw {
        width: 70vw;
        max-width: 550px;
    }
    .nomob {
        display: block;
    }
    .h1 {
        font-size: 3em;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 967px;
    }
    .img50vw {
        width: 70vw;
        max-width: 770px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
    .img50vw {
        width: 70vw;
        max-width: 970px;
    }
    .h1 {
        font-size: 5em;
    }

}
@media print {
    #header, #nav, .noprint {
        display: none;
    }
    @page {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
    a[href]:after {
        content: none !important;
    }
    .wrapper {
        border-top: none;
    }

}